NEXT_PUBLIC_SITE_URL=

# Google Analytics (GA4) - 必须使用 NEXT_PUBLIC_ 前缀才能在客户端生效
NEXT_PUBLIC_GA_MEASUREMENT_ID=
GOOGLE_ADSENSE_URL=
NEXT_PUBLIC_ADSENSE_ENABLED=false
NEXT_PUBLIC_ADSENSE_CLIENT_ID=""

CONTACT_US_EMAIL=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

CRAWLER_API=
CRAWLER_API_KEY=

CRON_AUTH_KEY=

SUBMIT_AUTH_KEY=